@tailwind base;
@tailwind components;
@tailwind utilities;

/*canvas {*/
/*    touch-action: none;*/
/*}*/

.computerHtmlScreen iframe{
    width: 1184px;
    height: 784px;
    border: none;
    border-radius: 20px;
    background: black;
}

.phoneHtmlScreen iframe{
    position: relative;
    background: white;
    border-radius: 37.5px;
    width: 385px;
    height: 825px;
    overflow: scroll;
}

@font-face {
    font-family: "Mavis";
    src: url("/public/Fonts/WEB/MAVISRegular.woff") format("woff");
}
